 <!-- RECHERCHE -->

<% if @available_slots.empty? %>
  <p>Personnne de dispo déso</p>
  <%= link_to "Refaire une recherche", root_path  %>
<% else %>
  <%= @available_slot_one.user.first_name %>
  <%= simple_form_for(@booking) do |f| %>
    <input name="booking[start_time]" value="<%= @start_query %>" class="d-none">
    <input name="booking[end_time]" value="<%= @end_query %>" class="d-none">
    <%= f.input :slot_id, input_html: { value: @available_slot_one.id, class: 'd-none' }, label: false %>
    <%= f.submit "accepter" %>
  <% end %>
  <%= link_to 'refuser', new_booking_path(ville: @ville, start_time: @start_query, end_time: @end_query)%>
<% end %>




<!-- FORMULAIRE NEW-->
