
    <% if @available_slots.empty? %>
    <p>Personnne de dispo déso</p>
    <%= link_to root_path  %>
  <% else %>

 <%= link_to root_path, class: "fas fa-arrow-left" do %>
  <% end %>

<div class="flex">
  <%= cl_image_tag @available_slot_one.user.photo.key, class: "card-img" %>
  <%= cl_image_tag @available_slot_one.user.photo.key, class: "avatar-large" %>
</div>

<div class="container">

  <div class="cards-infos">
    <div class="cards-infos-left">
      <div class="rating-infos">
        <% @available_slot_one.user.reviews.each do |review| %>
          <% review.rating.times do %>
            <i class="fas fa-star gray-star"></i>
          <%end%>
          <% ( 5 - review.rating).times do %>
            <i class="far fa-star gray-star"></i>
          <%end%>
        <%end%><p><%=@available_slot_one.user.number_of_reviews%> avis </p>
      </div>
      <h2><%=@available_slot_one.user.first_name%></h2>
      <div class="cards-infos-address">
        <i class="fas fa-map-marker-alt"></i>
        <p><%=@available_slot_one.user.address%></p>
      </div>
    </div>
  <h3> <%=@available_slot_one.user.user_price_cents%>€/h</h3>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Expériences</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Avis</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="bloc-description">
        <p> <%= @available_slot_one.user.description %> </p>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="bloc-experience">
          <h3>Qualification</h3>
        <p> <%= @available_slot_one.user.degree %> </p>
      </div>
      <div class="bloc-experience">
        <h3>Expérience</h3>
        <p> <%= @available_slot_one.user.years_of_experience %> ans </p>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <% @available_slot_one.user.bookings.each do |booking| %>
        <div class="cards-review">
             <%= cl_image_tag booking.user.photo.key, class: "avatar" %>
            <div class="cards-review-content">
              <h2><%= booking.user.first_name%></h2>
              <p><%= booking.review.content%></p>
            </div>
          </div>
      <% end %>
    </div>

  <div class="container-center">
    <%= simple_form_for(@booking) do |f| %>
      <input name="booking[start_time]" value="<%= @start_query %>" class="d-none">
      <input name="booking[end_time]" value="<%= @end_query %>" class="d-none">
      <%= f.input :slot_id, input_html: { value: @available_slot_one.id, class: 'd-none' }, label: false %>
      <%= f.submit "ACCEPTER", class: "btn-green" %>
    <% end %>
    <%= link_to 'REFUSER', new_booking_path(ville: @ville, start_time: @start_query, end_time: @end_query), class: "titleh3"%>
  <% end %>

  </div>
</div>


