
   <!-- <button type='button' class='btn btn-flat' data-toggle='modal'>-->
    <%= link_to 'Retourner à mon dashboard', dashboard_path, id: 'btn-return_dashboard'  %>
    <!--</button>-->

<div class ="container_i">
  <div class="barre_de_gauche">
    <div class="avatar_and_heading">
      <h1><%= @booking.user.first_name %></h1>
    </div>

    <div class="rating">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <br>
    <br>
     <% if @booking.user.photo.attached? %>
      <%= cl_image_tag @booking.user.photo.key, height: 300, width: 500, crop: :fill %>
      <% end%>
    <br>
    <br>

    <div>
      <p> <%= @booking.description %></p>
    </div>
  </div>

  <div class="barre_de_droite">
    <div class="booking">
      <h2><%= @booking.price %>€</h2>
      <div class="center-element">
       <%=  render 'bookings/new' %>
      </div>
    </div>
  </div>


</div>
