<div class= "fas fa-arrow-left" >
  <% link_to root_path %>
</div>

<div class="top-title">
  <p>RÉCAPITULATIF</p>
</div>

<div class="container">

<div class="cards-recap">
 <%= cl_image_tag @booking.slot.user.photo.key, class: "avatar-carre" %>
  <div class="cards-recap-infos">
    <h2><%= @booking.slot.user.first_name %></h2>
      <div class="rating">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p> 56 avis </p>
      </div>
  </div>
</div>

<div class="champ-title">
  <p>Adresse</p>
</div>
<div class="champ-big-gray">
  <p><%=@booking.slot.user.address%></p>
</div>

<div class="champ-title">
  <p>Date</p>
</div>

<div class="champ-big-gray">
  <p><%= @booking.start_time.strftime("%Y %B %d")%></p>
</div>

<div class="container-flex">
  <div class="hour-title1">
    <p>Heure de début </p>
  </div>
  <div class="hour-title2">
    <p>Heure de fin</p>
  </div>
</div>


<div class="container-flex">
  <div class="champ-small-gray">
    <p><%= @booking.start_time.strftime("%H:00") %></p>
  </div>
  <div class="champ-small-gray">
    <p><%= @booking.end_time.strftime("%H:00") %></p>
  </div>
</div>

<div class="cards-price">
  <div class="cards-price-flex">
    <p>Prestation</p>
    <p><%=@booking.booking_price%> €</p>
  </div>
  <div class="cards-price-flex">
    <p>Frais </p>
    <% @frais = 2.50 %>
    <p> <%= @frais %> € </p>
  </div>
  <div class="ligne w-100"></div>
  <div class="cards-price-flex">
    <h3>Total</h3>
    <% @total = @frais + @booking.booking_price %>
    <h3> <%= @total %> €</h3>
  </div>
</div>

<div class="container-center">


 <!-- link_to 'PAYER', dashboard_path, class: "btn-pay" -->
  <button type="button" class="btn-pay">PAYER</button>
  <%= link_to 'MODIFIER', root_path, class: "titleh3"  %>
</div>

<div class="toggle-pay">
<div class="bottom-title">
  <p>PAIEMENT</p>
</div>

<div class="champ-title">
  <p>Nom de la carte</p>
</div>

<div class="champ-big">
  <p><%=current_user.last_name%></p>
</div>

<div class="champ-title">
  <p>Numéro de la carte</p>
</div>

<div class="champ-big">
  <p>268492738927468</p>
</div>


<div class="container-flex">
  <div class="hour-title1">
    <p>Date d’expiration </p>
  </div>
  <div class="hour-title2">
    <p>Cryptogramme</p>
  </div>
</div>


<div class="container-flex">
  <div class="champ-small">
    <p>09/22</p>
  </div>
  <div class="champ-small">
    <p>809</p>
  </div>
</div>

<div class="container-center">
  <%= link_to 'PAYER', dashboard_path, class: "btn-green"  %>
</div>
</div>
