<!DOCTYPE html>
<html>


<div class= "fas fa-arrow-left" >
  <% link_to root_path %>
</div>


 <%= link_to root_path, class: "fas fa-arrow-left" do %>
  <% end %>

<div class="container-center">
  <div class="top-title">
    <p>RÉCAPITULATIF</p>
  </div>
</div>

<div class="container">

<div class="cards-recap">
 <%= cl_image_tag @booking.slot.user.photo.key, class: "avatar-carre" %>
  <div class="cards-recap-infos">
    <h2><%= @booking.slot.user.first_name %></h2>
      <div class="rating">
          <% @booking.slot.user.average_rating.times do %>
            <i class="fas fa-star gray-star"></i>
          <%end%>
          <% ( 5 - @booking.slot.user.average_rating).times do %>
            <i class="far fa-star gray-star"></i>
          <%end%>
        <p><%=@booking.slot.user.number_of_reviews%> avis</p>
      </div>
  </div>
</div>

<div class="champ-title">
  <p>Adresse</p>
</div>
<div class="champ-big-gray">
  <p><%=@booking.slot.user.address%></p>
</div>

<div class="champ-title">
  <p>Date</p>
</div>

<div class="champ-big-gray">
  <p><%= @booking.start_time.strftime("%Y %B %d")%></p>
</div>

<div class="container-flex">
  <div class="hour-title1">
    <p>Heure de début </p>
  </div>
  <div class="hour-title2">
    <p>Heure de fin</p>
  </div>
</div>


<div class="container-flex">
  <div class="champ-small-gray">
    <p><%= @booking.start_time.strftime("%H:00") %></p>
  </div>
  <div class="champ-small-gray">
    <p><%= @booking.end_time.strftime("%H:00") %></p>
  </div>
</div>

<div class="cards-price">
  <div class="cards-price-flex">
    <p>Prestation</p>
    <p><%=@booking.display_price%> €</p>
  </div>
  <div class="cards-price-flex">
    <p>Frais </p>
    <% @frais = 2.50 %>
    <p> <%= @frais %> € </p>
  </div>
  <div class="ligne w-100"></div>
  <div class="cards-price-flex">
    <h3>Total</h3>
    <% @total = (@frais*100 + @booking.computed_price)/100 %>
    <h3> <%= @total %> €</h3>
  </div>
</div>

<div class="container-center">


 <!-- <div class="container-center">
  <span<%= link_to 'PAYER', dashboard_path, class: "btn-green"  %>/span>
</div>
</div> -->
<div class="container-center">
<button id="pay" class="btn btn-green">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
     </script>
</div>
</div>
</html>
