
<div class=" navbar-expand-sm navbar-bas justify-content-around">


  <% if controller_name == "pages" && action_name == "home"%>
      <div class= "nav-link-bas">
        <%= link_to root_path  do %>
          <%= image_tag("Home_sans_fond.png")%>
        <% end %>
      </div>
  <% else  %>
      <div class= "nav-link-bas">
        <%= link_to root_path  do %>
          <%= image_tag("home-gris.png")%>
        <% end %>
      </div>
  <% end  %>


  <% if controller_name == "pages" && action_name == "dashboard"%>
      <div class= "nav-link-bas">
        <%= link_to dashboard_path  do %>
          <%= image_tag("Dashboard_sans_fond.png")%>
        <% end %>
      </div>
  <% else %>
      <div class= "nav-link-bas">
        <%= link_to dashboard_path  do %>
          <%= image_tag("resa-gris.png")%>
        <% end %>
      </div>
  <% end  %>


  <div class= "nav-link-bas">
    <%= link_to dashboard_path  do %>
      <%= image_tag("profil-gris.png") %>
    <% end %>
  </div>


<% unless  current_user.bookings.empty? %>
  <% if controller_name == "chatrooms" && action_name == "show"%>
      <div class= "nav-link-bas">
        <%= link_to chatroom_path(current_user.bookings.last.chatroom)  do %>
          <%= image_tag("chat-vert.png")%>
        <% end %>
      </div>
  <% else %>
      <div class= "nav-link-bas">
        <%= link_to chatroom_path(current_user.bookings.last.chatroom) do %>
          <%= image_tag("chat_gris.png")%>
        <% end %>
      </div>
  <% end  %>
  <% end %>
</div>
