
  <div class="block-vert">
  </div>

<div class="fond-vert">
  <div class="row">
    <div class="banner">
      <%= image_tag "Perso.png", alt: "perso" , class: "img-perso"%>
      <h2>Clean-up </h2>
        <p>Trouvez un agent d'entretien en 3 clics</p>
    </div>
  </div>
</div>
<head/>

<body>
  <div class="booking-form">
    <%= form_tag new_booking_path, method: :get, :id => "home-search" do %>

              <%= text_field_tag :ville, nil,
              class: 'form-group',
              placeholder: "Ma ville" %>


              <%= datetime_field_tag :start_time, nil,
              class: 'form-group',
              value: "Date de début" %>

               <%= datetime_field_tag :end_time, nil,
              class: 'form-group',
              placeholder: 'Date de fin' %>

              <%= submit_tag '', id: 'trouver-btn', class: 'btn btn-flat-find' %>

            <% end %>
            <button class="submit-button">
                <span class="pre-state-msg">RECHERCHER</span>
                <span class="current-state-msg hide">EN COURS...</span>
                <span class="done-state-msg hide" style= "margin-top: 25px">UN AGENT TROUVÉ!</span></button>






